.buttons {
	width: 20%;
	height: 2.5em;
	display: inline-block;
	border-radius: 7%/30%;
	background: rgba(0,0,0,0.7);
	color: white;
	/*float: right;*/
}
#buttonsDiv{
	text-align: center;
	min-width: 100%;
}
.buttons:hover,#connectButton:hover,#connectButton2:hover,#searchInput:hover{
	background: rgba(0,50,0,0.1);
}
#searchInput:hover{
	background: rgba(0,50,0,0.1);
	color: white;
}
#buttonsDiv,#invalidInput{
	/*margin-left: 9em;*/
}
#connectButton{
	width: 10em;
	height: 2.5em;
	border-radius: 15%/30% ;
	background: #AB3D18;
	color: white;
	display: inline;
}
#connectButton2{
	width: 10em;
	height: 2.5em;
	border-radius: 15%/30% ;
	background: #AB3D18;
	color: white;
	display: inline;
}
#searchInput{
	width: 50%;
	height: 2em;
	border-radius: 3%/30%;
	margin-bottom:2em; 
	color: #AB3D18;
	display: inline;
}
#searchContainer{
	text-align: center;
	width: 100%;
	margin: 0 0 0 0;
}
#imageLocation{
	width: 95%;
	height: 50%;
	margin-top: 1em;
	list-style: none;
	overflow: auto;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap:wrap;
}
#imageLocation li{
	-webkit-flex-grow:1;
}
#videoLocation{
	/*background: blue;*/
	width: 95%;
	height: 50%;
	margin-top: 1em;
	list-style: none;
	overflow: auto;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap:wrap;
}
#videoLocation li{
	-webkit-flex-grow:1;
}
#infoLocation{
	width: 95%;
	height: 50%;
	margin-top: 1em;
	list-style: none;
	overflow: auto;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap:wrap;
	display:-moz-flex;
	-moz-flex-direction:row;
	-moz-justify-content: space-between;
	-moz-flex-wrap:wrap;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	flex-wrap:wrap;
}
}
}
#infoLocation li{
	-webkit-flex-grow:1;
}
html{
	min-height: 100%;
}
body{
	background: url('../img/1.png') no-repeat center/cover;
	min-height: 100%;
}
header{
	background: #AB3D18;
	color: white;
	clear: both;
	text-align: center;
	margin: 0 auto;
	border-radius: 10px;
	width: 80%;
}
h3{
	font-size: 2em;
	font-family: 'Playball', cursive;
	margin: 0;
	color: white;
}
#wrapper{
	max-height: 500px;
	width: 75%;
	background: rgba(171,61,24,.3);
	margin: 0 auto;
	clear: left;
	border-radius: 0px 0px 10px 10px;
	overflow: auto;
}
.items{
	max-width: 30%;
	max-height: 30%;
	margin: 5px 5px;
	border-radius:10%;
	border: 3px dotted white;
	-webkit-flex-grow:1;
	-moz-flex-grow:1;
	flex-grow:1;
	word-wrap: break-word;
	color: white;
	background: rgba(0,0,0,.8);
}
.pic{
	border-radius: 10%;
}
.vid{

	border-radius: 10%;
}
#mygif{
	float:left;
}
.caption2{
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
}
#result{
	display: block;
	text-align: center;
	font-size: 2em;
	color: black;
	min-width: 100%;
}
#headgif{
	float: left;
}




